
@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center mb-4">
        <h1 class="display-4 fw-bold text-primary">Group 8</h1>
        <p class="lead text-muted">Danh sách thành viên & phân công công việc</p>
    </div>

    <div class="card shadow-lg rounded-4">
        <div class="card-body">
            <table class="table table-hover table-bordered text-center align-middle">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Họ và tên</th>
                        <th scope="col">Mã số sinh viên</th>
                        <th scope="col">Phân công công việc</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Ngô Lê Thảo Nguyên</td>
                        <td>SE183870</td>
                        <td>Activity 1 + 2, build UI</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Trần Quốc Minh</td>
                        <td>SE183954</td>
                        <td>Activity 3</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Phạm Cẩm Hoàng</td>
                        <td>SE183867</td>
                        <td>Activity 4 + 5</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Nguyễn Nhật Nam</td>
                        <td>SE182539</td>
                        <td>Activity 6 + testing</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Hoa Hồ Quốc Đại</td>
                        <td>SE183841</td>
                        <td>Activity 6</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
